html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    font-weight: 500;
    background-color: #F4E9E3;
    margin: 10% auto;
    font-size: 14px;
}

#main {
    margin: auto;
    height: 450px;
    width: 600px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.31);
    overflow: hidden;
    border-radius: 15px;
}

#right-section {
    display: inline-block;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

#left-section {
    padding: 15px 15px 15px 30px;
    margin: 0;
    background-color: white;
    display: inline-block;
    height: 100%;
    width: 50%;
    vertical-align: top;
}

#left-section h4 {
    font-family: 'Overpass';
    font-weight: 400;
    opacity: 0.6;
    letter-spacing: 0.4rem;
}

#left-section h1 {
    font-family: 'Fraunces';
    font-weight: 700;
}

#left-section p {
    padding-right: 25px;
    opacity: 0.6;
}

#product-img {
    height: 450px;

}

#price {
    display: inline-block;
    font-size: 30px;
    font-family: 'Fraunces';
    color: #3c8067;
}

#discount {
    position: relative;
    display: inline-block;
    margin-top: 26px;
    margin-left: 25px;
    top: -6px;
    text-decoration: line-through;
    color: #6c7289;
}

#btn {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    background-color: #3E8068;
    color: white;
    width: 90%;
    margin-top: 11%;
    margin-left: 0.5%;
    padding: 15px;
    border-style: none;
    border-radius: 8px;
}

#btn:hover {
    cursor: pointer;
    background-color: #41965F;
    scale: 1.01;
}

#img-btn {
    position: relative;
    top: 2px;
    padding-right: 12px;

}

#left-section h4, p {
    color: #6c7289;
}